@import "dropdown.css";
@import "tabmenu.css";

.sidebar, .sidebar *, .sidebar *::before, .sidebar *::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

.sidebar {
    position: fixed;
    top: 0;
    width: 75%;
    height: 100%;
    background-color: var(--sidebar-background-color, #FFF);
    overflow-x: visible;
    -ms-overflow-style: none;
    isolation: isolate;
    scrollbar-width: none;
    transition: 500ms;
    isolation: isolate;
    z-index: 1;
}

.sidebar::-webkit-scrollbar, .sidebar .sidebar-body::-webkit-scrollbar {
    /* display: none; */
}

.sidebar::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

.sidebar::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

.sidebar::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

.sidebar::-webkit-scrollbar-thumb:active {
    background: #000000;
}

.sidebar::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
}

.sidebar::-webkit-scrollbar-track:hover {
    background: #666666;
}

.sidebar::-webkit-scrollbar-track:active {
    background: #333333;
}

.sidebar::-webkit-scrollbar-corner {
    background: transparent;
}

.sidebar.left {
    left: 0;
}

.sidebar.right {
    right: 0;
}

.sidebar.left:not(.opened) {
    transform: translateX(-101%);
    overflow-x: hidden;
}

.sidebar.right:not(.opened) {
    transform: translateX(135%);
    overflow-x: hidden;
}

.sidebar .sidebar-body {
    width: 100%;
    height: 100vh;
    padding: 0 var(--sidebar-sm-padding, 1rem);
    background-color: var(--sidebar-background-color, #FFF);
    overflow-y: scroll;
}

.sidebar .sidebar-body .sidebar-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: var(--sidebar-height, 4.6rem);
    background-color: var(--sidebar-header-background-color, var(--sidebar-background-color, #FFF));
    border-bottom: 1px solid var(--sidebar-border-color, #DDD);
    color: var(--sidebar-title-color, #222);
}

.sidebar .sidebar-body .sidebar-header .sidebar-title {
    flex-basis: 100%;
    height: 100%;
    font-size: 1.2rem;
}

.sidebar.left .sidebar-body .sidebar-header .sidebar-title {
    text-align: left;
}

.sidebar.right .sidebar-body .sidebar-header .sidebar-title {
    text-align: right;
}

.sidebar .sidebar-body .sidebar-header .sidebar-title img {
    width: 100%;
    height: var(--nav-menu-image-height, 4.6rem);
    object-fit: contain;
    object-position: top left;
}

.sidebar.left .sidebar-body .sidebar-header .sidebar-title img {
    object-position: top left;
}

.sidebar.right .sidebar-body .sidebar-header .sidebar-title img {
    object-position: top right;
}

.sidebar .sidebar-body .sidebar-header .sidebar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 15%;
    /* width: 0;
    height: 100%;
    color: transparent; */
}

.sidebar .sidebar-body .sidebar-header .sidebar-button::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
    background-color: var(--sidebar-button-background, rgba(0, 0, 0, .5));
    transition: 500ms;
    z-index: -1;
}

.sidebar.left .sidebar-body .sidebar-header .sidebar-button::before {
    left: 100%;
}

.sidebar.right .sidebar-body .sidebar-header .sidebar-button::before {
    right: 100%;
}

.sidebar.opened .sidebar-body .sidebar-header .sidebar-button::before {
    background-color: rgba(0,0,0,.5);
}

.sidebar .sidebar-body .sidebar-content {
    background-color: var(--sidebar-content-background-color, #FFF);
}

.sidebar .sidebar-body .sidebar-content .sidebar-menu-list li {
    position: relative;
    padding: var(--sidebar-button-padding, 1rem) 0;
    border-bottom: 1px solid var(--sidebar-border-color, #DDD);
}

.sidebar .sidebar-body .sidebar-content .sidebar-menu-list li:last-child {
    border: none;
}

.sidebar .sidebar-body .sidebar-content .sidebar-menu-list :where(.sidebar-button, .sidebar-link) {
    display: inline-flex;
    align-items: center;
    height: var(--sidebar-button-height, 2.3rem);
    color: var(--sidebar-button-color, #222);
    line-height: var(--sidebar-button-height, 2.3rem);
    transition: 500ms;
}

.sidebar .sidebar-body .sidebar-content .sidebar-menu-list .sidebar-link:where(:hover, .active) {
    color: var(--sidebar-button-color-alt, #000);
}

.sidebar .sidebar-body .sidebar-content .sidebar-menu-list .sidebar-button {
    border: 1px solid var(--sidebar-border-color, #DDD);
}

.sidebar .sidebar-body .sidebar-content .sidebar-menu-list .sidebar-button:where(:focus, :hover, .active) {
    border-color: var(--sidebar-border-color-alt, #DDD);
    outline: none;
}

/* * Footer */
.sidebar .sidebar-body .sidebar-footer {
    width: 100%;
    height: 4.6rem;
    min-height: 4.6rem;
    background-color: var(--sidebar-footer-background-color, var(--sidebar-background-color, #FFF));
    border-top: 1px solid var(--sidebar-border-color, #DDD);
}

.sidebar .sidebar-body .sidebar-footer .sidebar-footer-menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    text-align: center;
}

.sidebar .sidebar-body .sidebar-footer .sidebar-footer-menu-list li {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ? MD */
@media (min-width: 768px) {
    .sidebar {
        width: 50%;
    }
}

/* ? LG */
@media (min-width: 1024px) {
    .sidebar {
        width: 25%;
    }
}

/* ? XL */
@media (min-width: 1200px) {
    /*  */
}

/* ? 2XL */
@media(min-width: 1536px){
    /*  */
}

/* ? 3XL */
@media(min-width: 1920px){
    /*  */
}