.tab-menu .tab-header a.sidebar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 15%;
}

.tab-menu .tab-header > :not(a.sidebar-button) {
    flex-basis: 70%;
}

.tab-menu .sidebar.tabs {
    width: 75%;
    height: 100vh;
}

.tab-menu .sidebar.tabs .sidebar-body.tab-body {
    --sidebar-sm-padding: 0;
}

.sidebar.tabs .sidebar-body .sidebar-header,
.sidebar.tabs .sidebar-body .sidebar-content .sidebar-menu-list li {
    padding: 0;
}

/* ? MD */
@media (min-width: 768px) {
    .tab-menu .sidebar.tabs {
        width: 50%;
    }
}

/* ? LG */
@media (min-width: 1024px) {
    .tab-menu.vertical .tabs {
        width: var(--tab-menu-tabs-lg-width, 25%);
    }
}

/* ? XL */
@media (min-width: 1200px) {
    /*  */
}

/* ? 2XL */
@media (min-width: 1536px) {
    /*  */
}

/* ? 3XL */
@media (min-width: 1920px) {
    /*  */
}