form section input, select{
    box-shadow: 0 0.5rem 1rem rgba(53, 99, 159, 0.18);
}

form section select{
    color: rgb(138, 142, 155);
}

/* form section button[type=submit]{
    background-color: rgb(7 89 133);
    color: #fff;
    width: 5rem;
    padding: .25rem;
    border-radius: .25rem;
    justify-content: center;
} */

/* ? MD */
@media (min-width: 768px) {
    /*  */
}

/* ? LG */
@media (min-width: 1024px) {
    /*  */
}

/* ? XL */
@media (min-width: 1200px) {
    /*  */
}

/* ? 2XL */
@media (min-width: 1536px) {
    /*  */
}

/* ? 3XL */
@media (min-width: 1920px) {
    /*  */
}