.tab-menu .tab-content-list .list .tab-content .content-title h2{
    color: #014969;
    font-family: var(--font-one) !important;
    font-size: 1.8rem;
}

/* ? MD */
@media (min-width: 768px) {
    /*  */
}

/* ? LG */
@media (min-width: 1024px) {
    #panel-tab-menu.tab-menu > .tab-header {
        display: none;
    }
    
    #panel-tab-menu.tab-menu .tab-header a.sidebar-button {
        display: none;
    }

    #panel-sidebar.sidebar {
        position: revert;
    }

    #panel-sidebar.sidebar.tabs .sidebar-body .sidebar-content {
        position: relative;
    }

    #panel-tab-menu.tab-menu.vertical .tab-content-list {
        /* margin-left: 25%; */
    }
}

/* ? XL */
@media (min-width: 1200px) {
    /*  */
}

/* ? 2XL */
@media (min-width: 1536px) {
    /*  */
}

/* ? 3XL */
@media (min-width: 1920px) {
    /*  */
}